body {
    font-family: Arial, sans-serif;
    background-color: #f084d5c9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #f10abfc7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(250, 77, 235, 0.89);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;

    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f484f8c5;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #f8b3eb;
    color: rgba(216, 65, 230, 0.705);
    border: none;
    border-radius:20px ;
    cursor: pointer;
}

button:hover {
    background-color: #d656a5;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #d943df;
    text-align: left;
}

th {
    background-color: #e07cd3;
}
